{% extends "admin/adminbase.html" %}
{% load static %}

{% block heading %}
Requests

{% endblock heading %}

{% block main-content %}

<div class="fluid-container">
    <table class="table table-bordered">
        <tr>
            <th>Sl.no</th>
            <th>Username</th>
            <th>Blog Title</th>
            <th>Actions</th>
        </tr>
        {% for blog in blogs %}
        
        <tr>
            <td>{{forloop.counter}}</td>
            <td>  <img class="img-profile rounded-circle" style="width: 40px;height: 40px;"
                src="{{blog.user.profile_pic.url}}"> {{blog.user.username}}</td>
            <td><a href="{% url "adminblogdetails" blog.id userprofile.id %}" class="text-info">{{blog.title}}</a></td>
            <td>
                <form action="" method="post">
                    <a href="" class="btn btn-outline-success"onclick="confirmblogapprove()">Approve Blog</a>
                    <a href="{% url "blockblog" blog.id %}" class="btn btn-outline-danger" onclick="confirmblogblock()">Delete Blog</a>
            </form>
            </td>
        </tr>
        
        {% endfor %}
       
    </table>

</div>

{% endblock main-content%}