<!DOCTYPE html>

{% extends "admin/adminbase.html" %}
{% load static %}

{% block heading %}
All Blogs
{% endblock heading %}

{% block main-content %}


{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}! You are logged in.</p>
{% else %}
    <p>You are not logged in. <a href="{% url 'login' %}">Login here</a></p>
{% endif %}
<h3 class="text-dark">Quick Actions</h3><br>
<table class="table table-bordered">
    <tr>
        <th>Sl.no</th>
        <th>Username</th>
        <th>Blog Title</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    {% for blog in blogs %}
    
    <tr>
        <td>{{forloop.counter}}</td>
        <td>  <img class="img-profile rounded-circle" style="width: 40px;height: 40px;"
            src="{{blog.user.profile_pic.url}}"> {{blog.user.username}}</td>
        <td><a href="{% url "adminblogdetails" blog.id userprofile.id %}" class="text-info">{{blog.title}}</a></td>
        <td>
            {% if blog.is_published %}
            <p class="text-success">Published</p>
            {% elif blog.is_published == False %}
            <p class="text-warning">Not Published</p>
            {% elif blog.isblocked %}
            <p class="text-success">Post Blocked</p>
            {% endif %}
        </td>
        <td>
            <form action="" method="post">
            {% if blog.is_published %}
            <a href="{% url "blockblog" blog.user.id %}" class="btn btn-outline-secondary" onclick="confirmblogblockuser()">Block Blog</a>
            {% elif blog.is_published == False %}
            <a href="{% url "publishblog" blog.id blog.user.id %}" class="btn btn-outline-success"onclick="confirmblogapprove"()>Approve Blog</a>
            <a href="{% url "blockuser" blog.user.id %}" class="btn btn-outline-secondary" onclick="confirmblogblockuser()">Block Blog</a>
            {% elif blog.isblocked %}
            <a href="{% url "unblockblog" blog.user.id %}" class="btn btn-outline-secondary">UnBlock Blog</a>
            {% endif %}
                
                
                
                
                
                {% comment %} <a href="{% url "publishblog" blog.id blog.user.id %}" class="btn btn-outline-success"onclick="confirmblogapprove"()>Approve Blog</a>
                <a href="{% url "blockuser" blog.user.id %}" class="btn btn-outline-secondary" onclick="confirmblogblockuser()">Block User</a> {% endcomment %}
        </form>
        </td>
    </tr>
    
    {% endfor %}
   
</table>

<script>
    function confirmblogblock() {
        return confirm("Are you sure you want to Delete this blog?");
    }
    function confirmblogapprove() {
        return confirm("Are you sure you want to Approve this blog?");
    }
    function confirmblogblockuser() {
        return confirm("Are you sure you want to Block this user?");
    }
</script>


{% endblock main-content %}