<!DOCTYPE html>

{% extends "admin/adminbase.html" %}
{% load static %}

{% block heading %}
Dashboard
{% endblock heading %}

{% block content-row %}

<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Total Users</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{user_count}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Total Posts</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{blog_count}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Approved Posts
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{unpublished_percentage}}%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar"
                                        style="width: {{unpublished_percentage}}%"  aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Pending Requests</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{pending_blog_count}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content-row %}

{% block main-content %}


{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}! You are logged in.</p>
{% else %}
    <p>You are not logged in. <a href="{% url 'login' %}">Login here</a></p>
{% endif %}
<h3 class="text-dark">Quick Actions</h3><br>
<table class="table table-bordered">
    <tr>
        <th>Sl.no</th>
        <th>Username</th>
        <th>Blog Title</th>
        <th>Actions</th>
    </tr>
    {% for blog in blog_list %}
    
    <tr>
        <td>{{forloop.counter}}</td>
        <td>  <img class="img-profile rounded-circle" style="width: 40px;height: 40px;"
            src="{{blog.user.profile_pic.url}}"> {{blog.user.username}}</td>
        <td><a href="{% url "adminblogdetails" blog.id userprofile.id %}" class="text-info">{{blog.title}}</a></td>
        <td>
            <form action="" method="post">
                <a href="{% url "publishblog" blog.id blog.user.id %}" class="btn btn-outline-success"onclick="confirmblogapprove"()>Approve Blog</a>
                <a href="{% url "blockuser" blog.user.id %}" class="btn btn-outline-secondary" onclick="confirmblogblockuser()">Block</a>
        </form>
        </td>
    </tr>
    
    {% endfor %}
   
</table>

<script>
    function confirmblogblock() {
        return confirm("Are you sure you want to Delete this blog?");
    }
    function confirmblogapprove() {
        return confirm("Are you sure you want to Approve this blog?");
    }
    function confirmblogblockuser() {
        return confirm("Are you sure you want to Block this user?");
    }
</script>


{% endblock main-content %}