{% extends "admin/adminbase.html" %}
{% load static %}

{% block heading %}
Available Users
{% endblock heading %}

{% block main-content %}
<div class="fluid-container">
    <table class="table table-bordered">
        <tr>
            <th>Sl.no</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
        </tr>
        {% for user in available_users %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <img class="img-profile rounded-circle" style="width: 40px; height: 40px;" src="{{ user.user_profile.profile_pic.url }}">
                {% if user.isblocked %}
                <text class="text-danger">{{ user.user_profile.username }}</text>
                {% else %}
                <text class="">{{ user.user_profile.username }}</text>
                {% endif %}
            </td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>
                <form action="{% url 'blockuser' user.id %}" method="post" onsubmit="return unblockuser();">
                    {% csrf_token %}
                    {% if user.isblocked %}
                    <button type="submit" class="btn btn-outline-danger">Unblock User</button>
                    {% else %}
                    <button type="submit" class="btn btn-outline-secondary">Block User</button>
                    {% endif %}
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<script>
    function unblockuser() {
        return confirm("Are you sure you want to change the user's block status?");
    }
</script>
{% endblock main-content %}