{% extends "admin/adminbase.html" %}
{% load static %}

{% block heading %}
All Users

{% endblock heading %}

{% block main-content %}

<div class="fluid-container">
    <table class="table table-bordered">
        <tr>
            <th>Sl.no</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
        </tr>
        {% for user in user_list %}
        
        <tr>
            <td>{{forloop.counter}}</td>
            <td>  <img class="img-profile rounded-circle" style="width: 40px;height: 40px;"
                src="{{user.user_profile.profile_pic.url}}"> 
                {% if user.user_profile.isblocked %}
                <text class="text-danger">{{user.user_profile.username}}</text>
                {% else %}
                <text class="">{{user.user_profile.username}}</text>
                {% endif %}
            </td>
            <td>{% if user.user_profile.isblocked %}
                <text class="text-danger">{{user.first_name}}</text>
                {% else %}
                <text>{{user.first_name}}</text>
                {% endif %}
            <td>{% if user.user_profile.isblocked %}
                <text class="text-danger">{{user.last_name}}</text>
                {% else %}
                <text>{{user.first_name}}</text>
                {% endif %}</td>
            <td>
                <form action="" method="post">
                    {% if user.user_profile.isblocked %}
                    <a href="{% url "unblockuser" user.id %}" class="btn btn-outline-success"onclick="unblockuser()">UnBlock User</a>
                    
                    {% else %}
                    <a href="{% url "blockuser" user.id %}" class="btn btn-outline-secondary"onclick="unblockuser()">Block User</a>
                    {% endif %}
                    
            </form>
            </td>
        </tr>
        
        {% endfor %}
       
    </table>

</div>
<script>
    function unblockuser() {
        return confirm("Are you sure you want to Unblock this user?");
    }
</script>

{% endblock main-content%}