    {% extends "user/userbase.html" %}
    {% load static %}

    {% block title %}
    <h1>Welcome Back,  {{userprofile.username}}</h1>{% endblock title %}
    {% block content %}
  <br>
    <div class="col-md-12 col-sm-12">
        <div class="blog-wrap">
            <ul>
                <li>
                    <div class="container" style="display: flex; flex-wrap: wrap; justify-content: left; max-width: 1200px; margin-block: 2rem; gap: 2rem;">
                        {% for blog in blog_list %}
                        <a href="{% url "blogdetails" blog.id userprofile.id %}">
                        <div class="card" style="display: flex; flex-direction: column; width: clamp(20rem, calc(20rem + 2vw), 22rem); overflow: hidden; box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1); border-radius: 1em; background: linear-gradient(to right, #FFFFFF, #ECE9E6);">
                            <div class="card__header">
                                <img src="{{blog.image.url}}" alt="card__image" class="card__image" width="600" style="max-width: 100%; display: block; object-fit: cover;">
                            </div>
                            <div class="card__body" style="padding: 1rem; display: inline; flex-direction: column; gap: .5rem;">
                                <div style="padding: 4px 2px 5px 2px;">
                                {% for category in blog.categories.all %}
                                <span class="tag tag-blue" style="align-self: flex-start; padding: .25em .75em; border-radius: 1em; font-size: .75rem; background: linear-gradient(to bottom, #2F80ED, #56CCF2); color: #fafafa;">{{category.name}}</span>
                                {% endfor %}
                                </div>
                                <h4 style="font-size: 1.5rem; text-transform: capitalize;">{{blog.title}}</h4>
                                <p>{{blog.description | safe | truncatewords:10}}</p>
                            </div>
                            <div class="card__footer" style="display: flex; padding: 1rem; margin-top: auto;">
                                <div class="user" style="display: flex; gap: .5rem;">
                                    <img src="{{blog.user.profile_pic.url}}" alt="user__image" class="user__image" style="border-radius: 50%; width: 40px; height: 40px;">
                                    <div class="user__info">
                                        <h5>{{blog.user.username}}</h5>
                                        <small style="color: #666;">{{ blog.updated_at|timesince }} ago</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
        <div class="blog-pagination">
            <div class="btn-toolbar justify-content-center mb-15">
                <div class="btn-group">
                    <a href="#" class="btn btn-outline-primary prev"><i class="fa fa-angle-double-left"></i></a>
                    <a href="#" class="btn btn-outline-primary">1</a>
                    <a href="#" class="btn btn-outline-primary">2</a>
                    <span class="btn btn-primary current">3</span>
                    <a href="#" class="btn btn-outline-primary">4</a>
                    <a href="#" class="btn btn-outline-primary">5</a>
                    <a href="#" class="btn btn-outline-primary next"><i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    {% endblock content%}